@import './../_colours-and-fonts';

.like-heads,
.like-counter {
	display: inline;
}

.post-likes {
	height: 30px;
}

.heart-space {
	height: 30px;
	width: 30px;
	display: inline-block;
	position: relative;
	margin-right: 5px;
}

.heart {
	top: 0;
	left: 0;
	color: #fff;
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	height: 100%;
	width: 100%;
}

.post-likes {
	margin-left: 10px;
}
.like-counter {
	display: inline-block;
	width: 30px;
	height: 30px;
	position: absolute;
	background-color: $reply-foreground;
	border-radius: 50%;
	vertical-align: middle;
}

.vertical-center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.like-heads-img {
	border-radius: 50%;
	height: 30px;
	margin-right: -10px;
}
