@import '../scss/_colours-and-fonts';

.page {
	transform: translateY(-110px);
	display: grid;
	grid-template-columns: 50px 1fr 1024px 1fr 50px;
	grid-row: 800px 300px auto 1fr;

	.top-anime {
		grid-column: 3;
		grid-row: 1;

		z-index: 1;
	}
	.synopsis {
		grid-column: 3;
		grid-row: 2;

		z-index: 1;
	}
}

.v-split {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-auto-flow: row;

	.media-details {
		grid-column: 1;
		grid-row: 1;
		margin-left: 0;
	}

	.poster-and-edit {
		grid-column: 2;
		grid-row-start: 1;
		grid-row-end: 3;
	}
	h1 {
		grid-row: 2;
		grid-column: 1;
		margin: 0;
		display: block;
	}
	.facts-line {
		grid-row: 3;
		grid-column: 1;
	}
	.tagCategories {
		grid-row: 4;
		grid-column: 1;
	}
}
.poster-image {
	max-width: 250px;
	border-radius: 10px 10px 5px 5px;
	margin-bottom: 15px;
}

.facts-line {
	margin-bottom: 15px;

	span {
		margin-left: 5px;
		font-weight: 300;
		color: $grayed-out-text;

		& > span {
			font-weight: 400;
			color: white;
		}
		&:first-of-type {
			margin-left: 0;

			span {
				margin-left: 5px;
			}
		}
	}
	.facts-divider {
		margin-left: 15px;
		margin-right: 10px;
		font-weight: 400;
	}
}

.jp-title {
	color: $grayed-out-text;
}

.tagCategories {
	line-height: 2em;
}
.edit-library {
	background: none;
	border: none;
	padding: 0;
	color: $highlighted-text;
	cursor: pointer;
	text-align: center;
	width: 100%;
	margin-bottom: 20px;
}
.watching-status {
	margin-bottom: 10px;
}
