// fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
$base-font: 'Open Sans', sans-serif;

// Major Elements Colour
$background-colour: #0F0B0F;
$post-background-colour: #433443;
$poster-username-foreground-colour: #524052;
$comment-background: #1A141A;
$comment-foreground: #312831;
$reply-foreground: #241C24;

// Text Colours
$highlighted-text: #FF8D78;
$grayed-out-text: #C3C3C3;
$tag-divider: #312631;