@import '_colours-and-fonts';

* {
    box-sizing: border-box;
}
body {
    background: $background-colour;
    color: white;
    font-family: $base-font;
}
a {
    margin: 0;
    font-size: 0.7rem;
    color: $highlighted-text;
}

body {
    @include scrollbars(5px, $highlighted-text, #0000);
}
