@import '_colours-and-fonts';

.page-divider {
	margin-top: 50px;
	margin-left: 60px;
	width: 80%;
	margin-bottom: 50px;
	h1 {
		display: inline;
	}
	hr {
		display: inline-block;
		width: 500px;
		margin-left: 20px;
	}
}

.library-list {
	display: block;
	width: 1fr;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 50px 1fr 50px;
	max-width: 1500px;
}
.bg {
	height: 400px;
}
@import '../scss/_colours-and-fonts';

.banner {
	display: block;
	height: 400px;
}
