@import '_colours-and-fonts';

%post-size {
    margin: 5px;
    width: 95%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.post-with-content {
    border-radius: 15px;
    background-color: $post-background-colour;
    @extend %post-size;
    margin-bottom: 0;
    margin-top: 20px;
}
.tag-divider {
    width: 97%;
    height: 25px;
    background-color: $tag-divider;
    margin-left: auto;
    margin-right: 0;
    margin-top:-17px;
    border-radius: 7px 0 0 7px;
    line-height: 22px;
    a {
        font-size: 0.7rem;
        color: $highlighted-text;
        font-weight: bold;
        margin-left: 10px;
    }
}
.poster-user {
    background-color: $poster-username-background-colour;
    border-radius: 15px 15px 5px 5px;
    margin-bottom: 0px;
    padding: 10px;
}
.commenter-user {
    margin-bottom: 0px;
    padding: 10px;
}
.post-content {
    padding: 20px;
    white-space: pre-line;
}
.all-comments {
    background-color: $comment-background;
    @extend %post-size;
    margin-top: 0;
}